:root {
  --border-radius: 8px;
  --main-border-color: rgba(0, 0, 0, 0.12);
  --inner-border-color: #90a4ae;
  --totals-bg-color: #eceff1;
  --row-hover-bg-color: #e1f5fe;
  --header-cell-text-color: #607d8b;
  --resize-handle-bg-color: #455a64;
  --drag-boundry-bg-color: rgb(255,179,0, 0.2);
  --drag-boundry-border-color: #ffb300;
  --row-selected-bg-color: #fff8e1;
  --header-selected-color: #2196f3;
  --header-selected-bg-color: #e8eaf6;

  --palette--task: #4338ca;
  --border-color: #8D99A6;
}

.GenjoGantt__grid__background {
  fill: #fff;
}

.GenjoGantt__container {
  width: 100%;
  overflow: auto;
  position: relative;
  flex: 1;
}

.GenjoGantt__svg {
  overflow: hidden;
  vertical-align: middle;
  background-color: #2196f3;
}

.GenjoGantt__grid__row {
  fill: #fff;
  padding: 0px 16px;
  border-bottom: 1px solid rgb(238, 240, 242);
  box-sizing: border-box;
}

.GenjoGantt__grid__row:nth-child(even) {
  fill: #eee;
}

.GenjoGantt__grid__line {
  stroke: #ebeff2;
  box-sizing: border-box;
}

.GenjoGantt__grid__header {
  fill: #fff;
  stroke: #e0e0e0;
  stroke-width: 1.4;
  box-sizing: border-box;
}

.GenjoGantt__grid__tick {
  stroke: #c2c2c2;
  stroke-width: 1;
  box-sizing: border-box;
  stroke-linecap: round;
}

.GenjoGantt__grid__tick {
  stroke: #c2c2c2;
  stroke-width: 1;
  box-sizing: border-box;
}

.GenjoGantt__grid__tick.GenjoGantt__grid__thick-tick {
  stroke-width: 2;
}

.GenjoGantt__grid__today-highlight {
  fill: #fcf8e3;
  opacity: 0.5;
  box-sizing: border-box;
}

.GenjoGantt__dates__lower-text {
  fill: #333;
  font-size: 12px;
  text-anchor: middle;
  dominant-baseline: central;
}

.GenjoGantt__dates__upper-text {
  fill: #555;
  font-size: 12px;
  text-anchor: middle;
  dominant-baseline: central;
}

.GenjoGantt__bar {
  fill: #919aa3;
  box-sizing: border-box;
  cursor: pointer;
  filter: drop-shadow(1px 1px 1px rgb(0 0 0 / 0.25));
}

.GenjoGantt__milestone {
  fill: #e7a831;
  stroke: var(--border-color);
  stroke-width: 0;
  transition: stroke-width .3s ease;
  box-sizing: border-box;
  cursor: pointer;
}

.GenjoGantt__progress {
  fill: #1d6ab7;
  box-sizing: border-box;
}

.GenjoGantt__handle {
  stroke-width: 0;
  cursor: ew-resize;
  opacity: 0;
  transition: transform 400ms ease-in-out, opacity 400ms ease-in-out;
}

.Genjo__bar-wrapper {
  cursor: pointer;
}

.Genjo__milestone-wrapper {
  cursor: pointer;
}

.GenjoGantt__progressHandle {
  cursor: ew-resize;
  opacity: 0;
  transition: transform 400ms ease-in-out, opacity 400ms ease-in-out;
}

.GenjoGantt__depHandle {
  cursor: point;
  opacity: 0;
  transform: translateX(-24px);
  transition: transform 400ms ease-in-out, opacity 400ms ease-in-out;
}

.GenjoGantt__bar-wrapper:hover .GenjoGantt__depHandle, .GenjoGantt__depHandle.GenjoGantt__handle_dragging {
  opacity: 1;
  transform: translateX(0px);
}

.GenjoGantt__bar-wrapper:hover .GenjoGantt__progressHandle, .GenjoGantt__progressHandle.GenjoGantt__handle_dragging {
  opacity: 1;
  transform: translateY(8px);
}

.GenjoGantt__bar-wrapper:hover .GenjoGantt__handle, .GenjoGantt__handle.GenjoGantt__handle_dragging {
  transform: translateX(-10px);
  opacity: 1;
}

.GenjoGantt__bar-wrapper:hover .GenjoGantt__handle_end, .GenjoGantt__handle_end.GenjoGantt__handle_dragging {
  transform: translateX(10px);
  opacity: 1;
}

.GenjoGantt__label {
  stroke-width: 0;
  fill: rgb(51, 50, 50);
  dominant-baseline: central;
  text-anchor: start;
  font-size: 12px;
  font-weight: 700;
  box-sizing: border-box;
  pointer-events: none;
}

.GenjoGantt__outside_label {
  fill: #666;
  filter: none;
}

.GenjoGantt__arrow {
  fill: none;
  stroke: #666;
  stroke-width: 1.4;
}
